<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% load i18n %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<link href='http://fonts.googleapis.com/css?family=Varela+Round&v2' rel='stylesheet' type='text/css'>
	<link href="/site_media/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/site_media/css/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	<link href="/site_media/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<script src="/site_media/js/libs/modernizr-1.7.min.js"></script>
	<script src="/site_media/js/libs/yepnope.1.0.2-min.js"></script>
</head>

<body>
	<div id="tbar">
		<div class="frame">
			<ul>
				<li><a href="#">{% trans "Log in" %}</a></li>
				<li><a href="#">{% trans "Sign up" %}</a></li>
				<li><a href="#">{% trans "About" %}</a></li>
				<li><a href="#">{% trans "Help" %}</a></li>
			</ul>
		</div>
	</div>
	<div id="container">
		<header>
			<img class="logo" src="/site_media/img/gwark-logo.png" width="237" height="116" alt="Gwark logo">
			<h1>{% trans "Create your personal tag cloud!" %}</h1>
			<a id="btn-go" class="cupid-green glow" href="#">Go</a>
		</header>
		<div id="main" role="main"></div>
    	<footer>

		</footer>
	</div> <!-- eo #container -->
	<script>
	yepnope([
		"http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js",
		{
			load: "/site_media/js/libs/jquery.pulse.js",
	  		callback: function() {
				$('#btn-go').pulse({
				    opacity: [1, 0.7]
				}, 1200, 200);
			}
		}
	]);
	</script>

  <!-- scripts concatenated and minified via ant build script-->
  <script src="/site_media/js/plugins.js"></script>
  <script src="/site_media/js/core.js"></script>
  <!-- end scripts-->
  
  <!--[if lt IE 7 ]>
    <script src="/site_media/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->
</body>
</html>