{% extends "base.html" %}
{% block outer %}
<div class="slideshow" id="slideshow_container" style="display: none;">
    <div id="slideshow_track">
        <ul id="slideshow_list">
        	<li><img src="http://assets.tumblr.com/images/register_login/themes.png" alt="Tumblr Themes"></li>
            <li><img src="http://assets.tumblr.com/images/register_login/dashboard.png" alt="Tumblr Dashboard"></li>
            <li><img src="http://assets.tumblr.com/images/register_login/phones.png" alt="Tumblr Mobile"></li>
            <li><img src="http://assets.tumblr.com/images/register_login/themes.png" alt="Tumblr Themes"></li>
        </ul>
    </div>
</div>
{% endblock %}